<!-- Footer -->
<footer class=" text-center " data-aos="fade-left" style="background-color:#343a40;">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://www.facebook.com/Redmars-113324450804502" target="blank" role="button"><i class="fa fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fa fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fa fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.instagram.com/redmars.in/" target="blank" role="button"><i class="fa fa-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/company/redmarscompany/about/" target="blank" role="button"><i class="fa fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
  
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
            <!--Grid column-->
              <p class="pt-2" style="display: inline;">
                <strong>Sign up for our newsletter:</strong>
              </p>
            <!--Grid column-->
  
            <!--Grid column-->
            
              <!-- Email input -->
                <input type="email" id="form5Example2" class="form-control" placeholder="Email address" style="display: inline;" />
                <button type="submit" class="btn btn-primary mt-3" style="display: inline;">
                    Subscribe
                  </button>
            
            <!--Grid column-->
  
            <!--Grid column-->
            
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
  
      <!-- Section: Text -->
      
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <span id="logo" class="JsGRdQ" style="font-weight: 1000; font-family: Trebuchet MS, Helvetica, sans-serif; color: rgb(255, 22, 22); text-decoration:rgb(255, 22, 22);">Ep-Time</span>
            <p class="content">
              We believe that the Fourth Industrial Revolution can make resource management so much better and we are working hard to prove it.
              <br>
              We are focussed on making it easy for managers to come up with profitable insights.
            </p>
            
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
     
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-section">
            <h5 class="text-uppercase">Useful Links</h5>
  
            <ul class="list-unstyled mb-0">
              <br>
              <li>
                <a href="#" class="txt">About Us</a>
              </li>
              <br>
              <li>
                <a href="#!" class="txt">Features</a>
              </li>
              <br>  
              <li>
                <a href="#!" class="txt">Solutions by Industry</a>
              </li>
              <br>
              <li>
                <a href="#!" class="txt">Request Demo</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-section">
            <h5 class="text-uppercase">Address</h5>
            <div class="txt">
              Mehdipatnam,
              <br>
              Hyderabad,
              <br>
              India
              <br>
              500008
           </div>
  
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 txt" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="txt" href="https://redmars.in/" target="blank">RedMARS.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->