<div id="first" data-aos="fade-in">
    <particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <br>
    <div id="second">
        <br>
        <h2 id='title'><strong>Start a free trial</strong></h2>
        <h5 class='description1'>Get started with a free trial in 30 seconds.</h5>
        <h5 class='description2'>Try it for 14 days. No risk, obligation or Credit card required.</h5>
        <button type="submit" class="btn btn-primary mt-3">Start Free Trial</button>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>