/* pics{
    animation: transitionIn;
  }

  @keyframes transitionIn{
    from{
      opacity:0;
      transform: translateY(-20px);
    }

    to{
      opacity:1;
      transform: translateY(0);
    }
  } */

  body{
    overflow:hidden;
  }